.inputContainer {
  padding: 10px;
  border-radius: 5px;

  input {
    border: none;
    width: 100%;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: rgb(153, 153, 153);
  }
}
