@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
.headerContainer {
  height: 150px;
  width: 1050px;
  margin: 0 auto;
}

.topLinkContainer {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.topLinkContainer .topLinkList {
  list-style: none;
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #777;
  cursor: pointer;
}
.topLinkContainer .topLinkList .topLink {
  padding: 0 10px;
}
.topLinkContainer .topLinkList .sign {
  color: rgb(95, 0, 128);
}
.topLinkContainer .topLinkList .sign, .topLinkContainer .topLinkList .login {
  border-right: 1px solid #333;
}
.topLinkContainer .topLinkList .faq {
  position: relative;
  display: inline-block;
}
.topLinkContainer .topLinkList .faq:hover > .faqListContainer, .topLinkContainer .topLinkList .faqListContainer:hover {
  display: block;
}
.topLinkContainer .faqListContainer {
  position: absolute;
  right: 0;
  width: 130px;
  text-align: left;
  display: none;
  background-color: white;
}
.topLinkContainer .faqListContainer .faqList {
  margin-top: 10px;
  border: 1px solid #eee;
}
.topLinkContainer .faqListContainer .faq {
  padding: 5px 10px;
}

.mainContainer {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainContainer .mainLogo {
  display: flex;
  align-items: center;
  width: 300px;
}
.mainContainer .mainLogo img {
  width: 90px;
}
.mainContainer .mainLogo h1 {
  padding-left: 20px;
  color: rgb(95, 0, 128);
  font-weight: 700;
  font-size: 18px;
  font-family: "Nanum Gothic", sans-serif;
  width: 100px;
}
.mainContainer .mainSearch {
  width: 400px;
  border: 1.5px solid rgb(95, 0, 128);
  border-radius: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainContainer .mainSearch > :first-child {
  width: 90%;
}
.mainContainer .mainSearch .mainSearchIcon {
  color: rgb(95, 0, 128);
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

.mainIconContainer {
  width: 300px;
  color: #333;
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
}
.mainIconContainer .mainIconLocation {
  margin-right: 7px;
}
.mainIconContainer .mainIcon {
  margin-left: 20px;
}
.mainIconContainer .mainIcon:hover {
  color: rgb(95, 0, 128);
  cursor: pointer;
}

.categoryContainer {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
}
.categoryContainer .categoryTitleContainer {
  display: flex;
  width: 100px;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
  cursor: pointer;
  color: rgb(51, 51, 51);
  position: relative;
}
.categoryContainer .categoryTitleContainer .categoryTitleIcon {
  font-size: 26px;
}
.categoryContainer .categoryTitleContainer .categoryTitle {
  font-size: 15px;
  font-weight: 700;
}
.categoryContainer .categoryTitleContainer:hover {
  color: rgb(95, 0, 128);
}
.categoryContainer .categoryTitleContainer:hover > .categoryMenuContainer, .categoryContainer .categoryMenuContainer:hover {
  display: block;
}
.categoryContainer .categoryMenuContainer {
  position: absolute;
  top: 25px;
  left: -2px;
  display: none;
  z-index: 10;
  background-color: white;
}
.categoryContainer .categoryMenuContainer .categoryMenuList {
  border: 1px solid #ddd;
  margin-top: 18px;
}
.categoryContainer .categoryMenuContainer .categoryMenuList li {
  font-family: "Nanum Gothic", sans-serif;
  color: #333333;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.categoryContainer .categoryMenuContainer .categoryMenuList li img {
  width: 20px;
}
.categoryContainer .categoryMenuContainer .categoryMenuList li .categorySubMenuContainer {
  font-family: "Nanum Gothic", sans-serif;
  position: absolute;
  left: 120px;
  background-color: #F2F2F2;
  border: 1px solid #eee;
  top: 0;
  width: 0;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.categoryContainer .categoryMenuContainer .categoryMenuList li:hover {
  color: rgb(95, 0, 128);
  background-color: #F2F2F2;
}
.categoryContainer .categoryMenuContainer .categoryMenuList li:hover .categorySubMenuContainer {
  color: purple;
  animation: subMenuBlink 1s ease-in-out forwards;
}
.categoryContainer .categoryMenuContainer .categoryMenuList:hover .categorySubMenuContainer {
  color: purple;
  animation: subMenuAni 0.5s ease-in-out forwards;
}

.categoryList {
  padding: 5px 0;
  font-weight: 700;
  font-size: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.categoryList li {
  border: 1px solid rgba(0, 0, 0, 0);
  padding-bottom: 3px;
  cursor: pointer;
  color: rgb(51, 51, 51);
}
.categoryList li:hover {
  color: rgb(95, 0, 128);
  border-bottom: 1px solid rgb(95, 0, 128);
}

.categoryDeliveryContainer {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}
.categoryDeliveryContainer .categoryDelivery {
  color: rgb(95, 0, 128);
  margin-right: 5px;
}
.categoryDeliveryContainer .categoryDeliveryGuide {
  color: #777;
}

.subSearch {
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  height: 30px;
  font-size: 12px;
  margin-left: 40px;
}
.subSearch > :first-child input {
  background-color: rgb(247, 247, 247);
}
.subSearch > :first-child input:focus {
  background-color: white;
}
.subSearch > :first-child > :first-child::placeholder {
  font-size: 11px;
  font-family: "Nanum Gothic", sans-serif;
  color: #777777;
  letter-spacing: 0.5px;
}
.subSearch > :last-child {
  margin-right: 10px;
}

.subSearch:focus-within {
  background-color: white;
  border: 1px solid #eee;
}

.subNav {
  position: fixed;
  top: 0;
  padding-top: 12px;
}

.headerBottom {
  z-index: 10;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 5px;
  width: 100%;
  top: 50px;
  pointer-events: none;
}

@keyframes subMenuAni {
  from {
    width: 0;
  }
  to {
    width: 120px;
  }
}
@keyframes subMenuBlink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=Header.module.css.map */
