@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

$mainColor: rgb(95, 0, 128);
$subColor: rgb(51, 51, 51);
$mainFont: 'Nanum Gothic', sans-serif;

.headerContainer {
  height: 150px;
  width: 1050px;
  margin: 0 auto;
}

.topLinkContainer {
  height: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .topLinkList {
    list-style: none;
    display: flex;
    font-family: $mainFont;
    font-size: 12px;
    font-weight: 700;
    color: #777;
    cursor: pointer;

    .topLink {
      padding: 0 10px;
    }

    .sign {
      color: $mainColor;
    }

    .sign, .login {
      border-right: 1px solid #333;
    }

    .faq {
      position: relative;
      display: inline-block;
    }

    .faq:hover > .faqListContainer, .faqListContainer:hover {
      display: block;
    }
  }

  .faqListContainer {
    position: absolute;
    right: 0;
    width: 130px;
    text-align: left;
    display: none;
    background-color: white;

    .faqList {
      margin-top: 10px;
      border: 1px solid #eee;
    }

    .faq {
      padding: 5px 10px;
    }
  }
}

.mainContainer {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mainLogo {
    display: flex;
    align-items: center;
    width: 300px;

    img {
      width: 90px;
    }

    h1 {
      padding-left: 20px;
      color: $mainColor;
      font-weight: 700;
      font-size: 18px;
      font-family: $mainFont;
      width: 100px;
    }
  }

  .mainSearch {
    width: 400px;
    border: 1.5px solid $mainColor;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > :first-child {
      width: 90%;
    }

    .mainSearchIcon {
      color: $mainColor;
      margin-right: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.mainIconContainer {
  width: 300px;
  color: #333;
  display: flex;
  font-size: 30px;
  justify-content: flex-end;

  .mainIconLocation {
    margin-right: 7px;
  }

  .mainIcon {
    margin-left: 20px;
  }

  .mainIcon:hover {
    color: $mainColor;
    cursor: pointer;
  }
}

.categoryContainer {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $mainFont;

  .categoryTitleContainer {
    display: flex;
    width: 100px;
    min-width: 100px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
    color: rgb(51, 51, 51);
    position: relative;

    .categoryTitleIcon {
      font-size: 26px;
    }

    .categoryTitle {
      font-size: 15px;
      font-weight: 700;
    }
  }

  .categoryTitleContainer:hover {
    color: $mainColor;
  }

  .categoryTitleContainer:hover > .categoryMenuContainer, .categoryMenuContainer:hover {
    display: block;
  }

  .categoryMenuContainer {
    position: absolute;
    top: 25px;
    left: -2px;
    display: none;
    z-index: 10;
    background-color: white;

    .categoryMenuList {
      border: 1px solid #ddd;
      margin-top: 18px;

      li {
        font-family: $mainFont;
        color: #333333;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        img {
          width: 20px;
        }

        .categorySubMenuContainer {
          font-family: $mainFont;
          position: absolute;
          left: 120px;
          background-color: #F2F2F2;
          border: 1px solid #eee;
          top: 0;
          width: 0;
          height: 200px;
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }
    }

    .categoryMenuList li:hover {
      color: $mainColor;
      background-color: #F2F2F2;
    }
    .categoryMenuList li:hover .categorySubMenuContainer {
      color: purple;
      animation: subMenuBlink 1s ease-in-out forwards;
    }

    .categoryMenuList:hover .categorySubMenuContainer {
      color: purple;
      animation: subMenuAni 0.5s ease-in-out forwards;
    }
  }
}

.categoryList {
  padding: 5px 0;
  font-weight: 700;
  font-size: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;

  li {
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 3px;
    cursor: pointer;
    color: rgb(51, 51, 51);
  }

  li:hover {
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
  }
}

.categoryDeliveryContainer {
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #eee;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;

  .categoryDelivery {
    color: $mainColor;
    margin-right: 5px;
  }

  .categoryDeliveryGuide {
    color: #777;
  }
}


.subSearch {
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  height: 30px;
  font-size: 12px;
  margin-left: 40px;

  > :first-child input {
    background-color: rgb(247, 247, 247);
  }

  > :first-child input:focus {
    background-color: white;
  }

  > :first-child > :first-child::placeholder {
    font-size: 11px;
    font-family: $mainFont;
    color: #777777;
    letter-spacing: 0.5px;
  }

  > :last-child {
    margin-right: 10px;
  }
}

.subSearch:focus-within {
  background-color: white;
  border: 1px solid #eee;
}

.subNav {
  position: fixed;
  top: 0;
  padding-top: 12px;
}

.headerBottom {
  z-index: 10;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 5px;
  width: 100%;
  top: 50px;
  pointer-events: none;
}

@keyframes subMenuAni {
  from {
    width: 0;
  }
  to {
    width: 120px;
  }
}

@keyframes subMenuBlink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





